.post-single {
  &__title {
    font-family: "Georgia,Cambria,'Times New Roman',Times,serif";
    font-weight: 400;
  }
  &__subtitle {
    font-size: 20px;
    color: rgba(0,0,0,.54);
    font-weight: 400;
  }
}